* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto";
  background: linear-gradient(90deg, #6666ff, #0000ff);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.search {
  position: relative;
  height: 50px;
  /* background-color: #ffff; */
}
.input {
  background-color: #ffff;
  border: none;
  padding: 15px;
  font-size: 18px;
  width: 50px;
  height: 50px;
  transition: width 0.3s ease;
  max-width: 100%;
  border-radius: 6px;
}
.btn {
  background-color: #ffff;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 24px;
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
  border-radius: 6px;
}
.search.active .input {
  border-radius: 6px 0px 0px 6px;
  width: 200px;
}
.search.active .btn {
  border-radius: 0px 6px 6px 0px;
  transform: translateX(198px);
}
.btn:focus,
.input:focus {
  outline: none;
}
