* {
  box-sizing: border-box;
  /* margin: 0; */
  /* padding: 0; */
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0;
}
.container {
  display: flex;
  width: 90vw;
}
.panel {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 60px;
  color: #ffff;
  margin: 10px;
  flex: 0.5;
  position: relative;
  transition: flex 0.7s ease-in;
  cursor: pointer;
}
.panel h3 {
  font-size: 18px;
  position: absolute;
  bottom: 40px;
  left: 40px;
  margin: 0;
  opacity: 0;
}
.panel.active {
  flex: 5;
}
.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}
@media (max-width: 480px) {
  .container {
    width: 100vw;
  }
  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 80vw;
  }
}
